body {
    background: linear-gradient(45deg, #001e658c 60%, white 100%);
}

.flex-row{
    box-shadow: 0px 1px 15px rgba(0, 0, 0,0.3);

}

.card-img-left {
    width: 45%;
    /* Link to your background image using in the property below! */
    background-image: url("../images/Tamara.jpg")  ;
    background-size:cover;
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}

.btn-google {
    color: white !important;
    background-color: #ea4335 !important;
}

.btn-facebook {
    color: white !important;
    background-color: #3b5998 !important;
}